body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}
:root {
  --background: #1c1c1c;
}
.my-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.my-home img {
  transition: all 0.5s;
}
.my-home img:hover {
  width: 563px;
  height: 243px;
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.card-shape {
  height: 100vh;
}

.card-shape img {
  cursor: pointer;
  transition: all 0.7s;
  opacity: 50%;
}

.card-shape img:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: matrix(1, 0.13, -0.05, 0.99, 0, 0);
  opacity: 100%;
}

.card-shape .row div {
  display: flex;
  justify-content: center;
}
